# Solo LLM Key
GROQ_API_KEY=your-groq-api-key-here
GEMINI_API_KEY=your-gemini-api-key-here
DEEPSEEK_API_KEY=your-deepseek-api-key-here

# Agentic LLM Key
OPENAGENTIC_API_KEY=your-openagentic-api-key-here
OPENROUTER_API_KEY = your-openrouter-api-key-here

# Other Keys
GITHUB_PAT_TOKEN = your-github-pat-token-here
TAVILY_API_KEY=your-tavily-api-key-here
REDIS_URL=your-railway-redis-public-url-here