# Solo LLM Key
GROQ_API_KEY=your-groq-api-key-here
GEMINI_API_KEY=your-gemini-api-key-here
DEEPSEEK_API_KEY=your-deepseek-api-key-here

# Agentic LLM Key
OPENAGENTIC_API_KEY=your-openagentic-api-key-here
OPENROUTER_API_KEY = your-openrouter-api-key-here

# Other Keys
GITHUB_PAT_TOKEN = your-github-pat-token-here
GITHUB_WEBHOOK_SECRET=create-your-github-webhook-secret-here
TAVILY_API_KEY=your-tavily-api-key-here
REDIS_URL=your-railway-redis-public-url-here
SENTRY_CLIENT_SECRET=your-sentry-client-secret-here

CODEGUARD_DEFAULT_OWNER=ariefeko
CODEGUARD_DEFAULT_REPO=tagihin
CODEGUARD_DEFAULT_BRANCH=develop
CODEGUARD_ALLOWED_REPOS=user/repository,...

WEBHOOK_URL=your-codeguard-webhook-url-here